/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
$dark-blue : #16354e;
$light-blue : #4696d1;
$gray : #8f9da9;

%gibson-light{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 200;
  font-style: normal;
}

%gibson-book{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 300;
  font-style: normal;
}

%gibson-regular{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 400;
  font-style: normal;
}

%gibson-medium{
 font-family: canada-type-gibson,sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}*/
/*body {
	line-height: 1;
  overflow:hidden;
}*/


ol, ul {
	list-style: none;
}
/*blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

 -------------------------------- 


-------------------------------- 



/*a {
  color: #7b9d6f;
  text-decoration: none;
}*/

/* -------------------------------- 

Main Components 

-------------------------------- */
.timeline_section .timeline_section .cd-horizontal-timeline {
  opacity: 0;
  margin: 5vh auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.timeline_section .cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.timeline_section .cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.timeline_section .cd-horizontal-timeline .timeline {
  position: relative;
  height: 150px;
  width: 90%;
  max-width: 1065px;
  margin: 0 auto;
}
.timeline_section .cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.timeline_section .cd-horizontal-timeline .events-wrapper::after, .timeline_section .cd-horizontal-timeline .events-wrapper::before {
  //these are used to create a shadow effect at the sides of the timeline 
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.timeline_section .cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.timeline_section .cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.timeline_section .cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 30px;
  height: 3px;
  /* width will be set using JavaScript */
  background: #4696d1;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.timeline_section .cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4696d1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.timeline_section .cd-horizontal-timeline .events a {
  position: absolute;
  width : 82px;
  height : 50px; //Originally no height field but helps align text at top
  line-height : 20px;
  bottom: -80px;
  z-index: 2;
  transform : translateX(-250%) !important; //Moves spots, need to change "left" below as well to align text
  text-align: center;
  font-size: 15px;
  color: $gray;
  @extend %gibson-book;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.timeline_section .cd-horizontal-timeline .events a::before {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  right: auto;
  left : 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 65px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 4px solid #4696d1;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .timeline_section .cd-horizontal-timeline .events a:hover::before {
  background-color: #4696d1;
  border-color: #4696d1;
}
.timeline_section .cd-horizontal-timeline .events a.selected {
  pointer-events: none;
  color : #16354e;
}
.timeline_section .cd-horizontal-timeline .events a.selected::before {
  background-color: #4696d1;
  border-color: #4696d1;
}
.timeline_section .cd-horizontal-timeline .events a.older-event::before {
  border-color: #4696d1;
}
@media only screen and (min-width: 1100px) {
  .timeline_section .cd-horizontal-timeline {
    margin: 8vh auto;
  }
  .timeline_section .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  // these are the left/right arrows to navigate the timeline 
  position: absolute;
  z-index: 2;
  top: -90%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  //border-radius: 50%;
  //border: 2px solid $gray;
  //replace text with an icon 
  overflow: hidden;
  //color: #000;
  text-indent: 5%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  //arrow icon
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('https://www.dropbox.com/s/hg4lwkjuc6t8qo8/method-draw-image.svg?dl=0') no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  /*-webkit-transform: translateY(-50%) rotate(180deg); 
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);*/
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #4696d1;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.timeline_section .cd-horizontal-timeline .events-content {
  position: relative;
  width: 50%;
  height : auto; //added for responsiveness
  margin: 70px auto 20px;
  //overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
  text-align : center;
}
.timeline_section .cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5% 3vh;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.timeline_section .cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.timeline_section .cd-horizontal-timeline .events-content li.enter-right, .timeline_section .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.timeline_section .cd-horizontal-timeline .events-content li.enter-left, .timeline_section .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.timeline_section .cd-horizontal-timeline .events-content li.leave-right, .timeline_section .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.timeline_section .cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}

// EVENT TITLE
.timeline_section .cd-horizontal-timeline .events-content .event-title {
  color : #16354e;
  font-size: 24px;
  @extend %gibson-book;
}

// EVENT DATE (deleted from html)
.timeline_section .cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.timeline_section .cd-horizontal-timeline .events-content em::before {
  content: '- ';
}

//EVENT CONTENT
.timeline_section .cd-horizontal-timeline .events-content p {
  font-size: 19px;
  color: #16354e;
  @extend %gibson-book;
  padding-top : 10px;
}
.timeline_section .cd-horizontal-timeline .events-content em, .timeline_section .cd-horizontal-timeline .events-content p, .timeline_section .cd-horizontal-timeline .events-content .event-title {
  line-height: 28px;
}
@media only screen and (min-width: 768px) {
  //TITLE
  .timeline_section .cd-horizontal-timeline .events-content .event-title {
    font-size: 24px;
  }
  //DATE (deleted in html)
  .timeline_section .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  //CONTENT
  .timeline_section .cd-horizontal-timeline .events-content p {
    font-size: 19px;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}



.intro{
  text-align : center;
  width : 650px;
  margin : 0 auto;
  color : #16354e;
  .intro-title{
  @extend %gibson-medium;
  font-size : 45px;
  letter-spacing : 1px;
  }
  .intro-content{
  @extend %gibson-book;
  font-size : 19px;
  line-height : 26px;
  padding : 60px;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    width : 90vw;
  }
}

.cd-timeline-navigation a.prev {
  -webkit-transform: translateY(-50%) rotate(-135deg); 
  -moz-transform: translateY(-50%) rotate(-135deg);
  -ms-transform: translateY(-50%) rotate(-135deg);
  -o-transform: translateY(-50%) rotate(-135deg);
  transform: translateY(-50%) rotate(-135deg);
}
.cd-timeline-navigation a.next {
  -webkit-transform: translateY(-50%) rotate(-135deg); 
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.cd-timeline-navigation a {
  height: 40px;
  width: 40px; 
  border-radius : 3px;
  border-right : 3px solid #4696d1;
  border-top : 3px solid #4696d1;
  transform : rotate(30%);
  color: #fff; //White to fit background and make the arrows "disappear" ; might need a better solution
}